<p>calculator works!</p>
<div class="container d-flex justify-content-center mt-5">
    <div class="card p-3 shadow-lg" style="width: 300px; background-color: #343a40; color: white;">
      <input type="text" class="form-control text-end mb-2" [value]="display" readonly>
  
      <div class="row g-2">
        <button class="btn btn-secondary col-3" (click)="appendNumber('7')">7</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('8')">8</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('9')">9</button>
        <button class="btn btn-warning col-3" (click)="appendOperator('/')">/</button>
  
        <button class="btn btn-secondary col-3" (click)="appendNumber('4')">4</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('5')">5</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('6')">6</button>
        <button class="btn btn-warning col-3" (click)="appendOperator('*')">*</button>
  
        <button class="btn btn-secondary col-3" (click)="appendNumber('1')">1</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('2')">2</button>
        <button class="btn btn-secondary col-3" (click)="appendNumber('3')">3</button>
        <button class="btn btn-warning col-3" (click)="appendOperator('-')">-</button>
  
        <button class="btn btn-secondary col-3" (click)="appendNumber('0')">0</button>
        <button class="btn btn-secondary col-3" (click)="appendDecimal()">.</button>
        <button class="btn btn-success col-3" (click)="calculateResult()">=</button>
        <button class="btn btn-warning col-3" (click)="appendOperator('+')">+</button>
  
        <button class="btn btn-danger col-12" (click)="clearDisplay()">AC</button>
      </div>
    </div>
  </div>
  
